
section.article-body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
}

section.article-body h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

section.article-body p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1rem 0;
}

section.article-body img {
  max-width: 100%;
  margin: 1rem 0;
}

section.article-body a {
  color: #0070f3;
  text-decoration: none;
}

section.article-body a:hover {
  text-decoration: underline;
}